*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# NetBeans
nbproject/
build/

# IntelliJ IDEA
.idea/
out/
src/META-INF/
*.iml

# Save files
*.dungeon
